{{addRss}}
<ul ng-show="!addRss" ng-class="{'all': allListrss}">
	<li ng-repeat="podcastItem in podcastsList">
		<span class="current-podcast-text" ng-show="podcastItem.current" ng-bind-html="currentPodcastText"></span>
		<a href="#" ng-click="playFeed(podcastItem.url);">{{podcastItem.title}}</a>
		<button class="remove-podcast" ng-click="removeFeedFromList(podcastItem.url)">
			<svg class="icon icon-close">
				<use xlink:href="assets/icons.svg#icon-close"></use>
			</svg>
		</button>
	</li>
</ul>
<button ng-click="toggleListrss()" class="toggle-listrss-btn" ng-bind-html="toggleListrssBtn" ng-show="isListrssMore()">
</button>