<div class="control-sound">
	<div class="controls">
		<button class="play" play-music ng-class="{'active': isPlaying}">
			<div svg-icon="play"></div>
		</button>
		<button class="pause" pause-music ng-class="{'active': !isPlaying}">
			<div svg-icon="pause"></div>
		</button>
		<button class="stop" stop-music ng-class="{'active': !isPlaying}">
			<div svg-icon="stop"></div>
		</button>
	</div>

	<div class="volume">
		<button class="mute" mute-music ng-bind-html="muteBtn"></button>
		<button class="decrease" music-volume data-type="decrease">
			<div svg-icon="volume-decrease"></div>
		</button>
		<div volume-bar class="volume-bar" ng-class="{'active': mute}">
			<div class="volume-bar-playing" ng-style="{width : (volume-bar + '%' )}"></div>
		</div>
		<button class="increase" music-volume data-type="increase">
			<div svg-icon="volume-increase"></div>
		</button>
	</div>

</div>

<div class="info-show" ng-show="currentPlaying.url.length">
	<div class="current-title" title="{{currentPlaying.title}}">{{currentPlaying.title | strLimit: 115}}</div>
	<div class="control-bar">
		<div class="current-position">{{currentPostion}}</div>
		<div class="seekBase" seek-track>
			<div class="seekLoad" ng-style="{width : (progress + '%')}"></div>
		</div>
		<div class="current-duration">{{currentDuration}}</div>
	</div>
</div>

<div class="playlist">
	<ul>
		<li ng-repeat="song in playlist">
			<span class="playlist-current" ng-if="currentPlaying.id == song.id">
				<div svg-icon="play"></div>
			</span>
			<a class="remove-from-playlist" remove-from-playlist="song" data-index="{{$index}}">
				<div svg-icon="close"></div>
			</a>
			<a play-from-playlist="song" title="{{song.titleauthor}}">{{song.titleauthor | strLimit: 50}}</a>
		</li>
	</ul>
</div>