<div class="control-sound">
	<div class="controls">
		<button class="play" play-music ng-class="{'active': isPlaying}">
			<svg class="icon icon-play"><use xlink:href="assets/icons.svg#icon-play"></use></svg>
		</button>
		<button class="pause" pause-music ng-class="{'active': !isPlaying}">
			<svg class="icon icon-pause"><use xlink:href="assets/icons.svg#icon-pause"></use></svg>
		</button>
		<button class="stop" stop-music ng-class="{'active': !isPlaying}">
			<svg class="icon icon-stop">
				<use xlink:href="assets/icons.svg#icon-stop"></use>
			</svg>
		</button>
	</div>

	<div class="volume">
		<button class="mute" mute-music ng-bind-html="muteBtn"></button>
		<button class="decrease" music-volume data-type="decrease">
			<svg class="icon icon-volume-decrease"><use xlink:href="assets/icons.svg#icon-volume-decrease"></use></svg>
		</button>
		<div volume-bar class="volume-bar" ng-class="{'active': mute}">
			<div class="volume-bar-playing" ng-style="{width : (volume-bar + '%' )}"></div>
		</div>
		<button class="increase" music-volume data-type="increase">
			<svg class="icon icon-volume-increase"><use xlink:href="assets/icons.svg#icon-volume-increase"></use></svg>
		</button>
	</div>

</div>

<div class="info-show" ng-show="currentPlaying.url.length">
	<div class="current-title" title="{{currentPlaying.title}}">{{currentPlaying.title | strLimit: 115}}</div>
	<div class="control-bar">
		<div class="current-position">{{currentPostion}}</div>
		<div class="seekBase" seek-track>
			<div class="seekLoad" ng-style="{width : (progress + '%')}"></div>
		</div>
		<div class="current-duration">{{currentDuration}}</div>
	</div>
</div>

<div class="playlist">
	<ul>
		<li ng-repeat="song in playlist">
			<span class="playlist-current" ng-if="currentPlaying.id == song.id">
				<svg class="icon icon-play"><use xlink:href="assets/icons.svg#icon-play"></use></svg>
			</span>
			<a class="remove-from-playlist" remove-from-playlist="song" data-index="{{$index}}">
				<svg class="icon icon-close">
					<use xlink:href="assets/icons.svg#icon-close"></use>
				</svg>
			</a>
			<a play-from-playlist="song" title="{{song.titleauthor}}">{{song.titleauthor | strLimit: 50}}</a>
		</li>
	</ul>
</div>