<h2>{{podcast.title}}</h2>

<p class="date">{{podcast.date | date:'dd/MM/yyyy'}} - Duration: {{podcast.duration}}</p>
<p>
<a href="{{podcast.link}}" target="_blank">Source</a>
- <a href="{{podcast.url}}" target="_blank" class="source">Download</a>
</p>

<div ng-bind-html="podcast.description"></div>

<p class="details-actions">
	<button music-player="play" add-song="podcast">
		<span svg-icon="play"></span>
		play
	</button>
	<button music-player add-song="podcast">
		<span svg-icon="plus"></span>
		Add to playlist
	</button>
</p>